name: Build Kiosk Images

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    uses: xibo-players/.github/.github/workflows/build-iso.yml@main
    with:
      package-name: xiboplayer-kiosk
      kickstart-file: 'kickstart/xiboplayer-kiosk.ks'
      build-installer: true
      build-disk-images: true
      architectures: 'x86_64,aarch64'
      default-version: '0.4.4'
    secrets: inherit
